<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837772000358-mqmiph8qp8iob2njv8saehq6onbq7n1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837772000358-mqmiph8qp8iob2njv8saehq6onbq7n1p</string>
	<key>API_KEY</key>
	<string>AIzaSyDGI-iQtWEp_2a7c3Hj4CZIvgU3zS-VqKY</string>
	<key>GCM_SENDER_ID</key>
	<string>837772000358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voostack.nutrinote</string>
	<key>PROJECT_ID</key>
	<string>nutrinote-375816</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrinote-375816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837772000358:ios:00af8efda8b348e17641a7</string>
</dict>
</plist>